
<h1>About</h1>
<p>
	<%= link_to "Learning Rails","http://detoxmenror.com" %>

	where you'll find the best Detoxing information
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	this is a sample application
</p>

