<div class="hero-unit">
<h1>Welcome to My First web page</h1>
	<p>You've found my first coded web page using Rails
		<%= link_to "Detoxmentor", "http://detoxmentor.com" %>

	</p>
	<p>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-large" %>
	</p>

</div>